__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.idea/
.vscode
.coverage
*.coverage
.coverage.*

# frontend local artifacts
frontend/node_modules/
frontend/.env.local
artifacts/
envs/firebase-service-account.json
