# docker
DOCKER_USER=ozcodingschool
DOCKER_REPOSITORY=ai-health

# fastapi
APP_VERSION=v1.0.0
SECRET_KEY=oz-codingschool-AI-health260127!@
COOKIE_DOMAIN=localhost
FRONTEND_URL=http://localhost:5173

# google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback
FIREBASE_CREDENTIALS_PATH=/app/envs/firebase-service-account.json
# ai-worker
AI_WORKER_VERSION=v1.0.0

# db
DB_HOST=localhost
DB_PORT=3306
DB_EXPOSE_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=pw1234
DB_ROOT_PASSWORD=Password123@!
DB_NAME=ai_health
